%h1 Home#index
- size = option_size(@desk_cases.size, @desk_labels.size)
.container
  .desk_case
    = render 'shared/desk_case', desk_cases: @desk_cases, size: size

  .desk_label
    = render 'shared/desk_label', desk_labels: @desk_labels, size: size

  .add_label
    = form_tag create_label_path, remote: true do
      = label_tag :name, 'add label'
      .label
        = text_field_tag 'desk_label[name]'
      .label
        = submit_tag 'Submit'
  
.clear

